.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: stretch;
    width: 800px;
    height: 800px;
    margin-left: auto;
    margin-right: auto;
}

.container>div{
    width: calc(800px/17);
    height: calc(800px/16)px;
}

body{
    background-image: url('5896404.jpg');
}

.menu{
    
    margin-left: auto;
    margin-right: auto;
}